{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bad-slots.css' %}">
</head>

<body>
    <p id="sb"> slots booked
    <p>
    <div id="heading">
        <h1 id="tsp">TONY SPORTS!!</h1>
    </div>


    <!-- first drop starts -->
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            Today's slots
        </button>
    </p>
    <div style="min-height: 150px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary btn0" id="8am">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="11am">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="2pm">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="5pm">"5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary btn0" id="8pm">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1"
            aria-expanded="false" aria-controls="collapseWidthExample1">
            Tommorow'slots
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary btn0" id="8am1">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="11am1">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="2pm1">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="5pm1">"5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary btn0" id="8pm1">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2"
            aria-expanded="false" aria-controls="collapseWidthExample2">
            2-feb-24's slots
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary btn0" id="8am2">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="11am2">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="2pm2">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary btn0" id="5pm2"> 5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary btn0" id="8pm2">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>
    <!-- first drop ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{% static 'bad-slots.js' %}"></script>

</body>

</html>