<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./bad-slots.css">
</head>

<body>
    <div id="heading">
        <h1 id="tsp">TONY SPORTS!!</h1>
    </div>
    <!-- first drop starts -->
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            Today's slots
        </button>
    </p>
    <div style="min-height: 150px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary">"5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1"
            aria-expanded="false" aria-controls="collapseWidthExample1">
            Tomorrow's slots
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary">"5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2"
            aria-expanded="false" aria-controls="collapseWidthExample2">
            02-feb-24's slots
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
            <div class="card card-body" style="width: device-width;">
                <div id="carin">
                    <button type="button" class="btn btn-outline-primary">8:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">11:00 AM</button>
                    <button type="button" class="btn btn-outline-primary">2:00 PM</button>
                    <button type="button" class="btn btn-outline-primary">"5:00 PM</button>
                    <button type=" button" class="btn btn-outline-primary">8:00 PM</button>
                </div>
            </div>
        </div>
    </div>
    <!-- first drop ends -->
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>