#tsp {
    font-size: 90px;
    text-shadow: 5px 5px red;
    display: inline;
    font-family: fira code;
}

#heading {
    text-align: center;
    background-color: aquamarine;
    height: 0;
    margin-bottom: 50px;
}

body {
    background-color: aquamarine;
}

.text-white-50 {
    /* text-shadow: 2px 2px ; */
    color: aquamarine !important;
}